# Ignore build folders
build/
Release/
Debug/
out/
*.build/

# Ignore object files, archives (.a), and shared libraries (.so, .dll, .dylib)
*.o
*.a
*.so
*.dylib
*.dll

# CMake specific files/directories to ignore
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.make
